[submodule "repainting__API"]
	path = repainting__API
	url = https://github.com/burunyuu23/repainting__API
[submodule "KeycloakProvider"]
	path = KeycloakProvider
	url = https://github.com/burunyuu23/KeycloakProvider
[submodule "repaint-game-frontend"]
	path = repaint-game-frontend
	url = https://github.com/burunyuu23/repaint-game-frontend
